.triangle
    display: block
    position: absolute
    content: ''
    width: 0
    height: 0
    left: 715.22px
    top: 33.23px
    border: 17px solid transparent
    border-bottom: 34px solid #1BC7BC

.triangle:after
    content: ''
    display: inline-block
    position: absolute
    top: -14px
    left: -16px
    border: 16px solid transparent
    border-bottom: 31px solid black
